.container {
    margin: auto;
display: flex;
justify-content: center;
align-items: center;
    background-color: rgb(36, 36, 36);
    width: 40%;
    padding: 1rem 3rem;
    color: #fff;
    border-bottom: 1px solid silver;
    margin-top: .2rem;
    border-radius: 1rem;
    overflow: hidden;
}
.container:last-child{
    border: none;
}

.container img{
    width: 40px;
}
.name {
    width: 10vw;
    font-size: 1rem;
    margin-left: 1rem;
    text-align: left;
    font-weight: bold;
    color: #bebebe;
}

.symbol { 
    text-align: left;
    width: 100px;
}

.price{
    text-align: left;
    width: 100px;
}

.greenPrice,.redPrice{
    text-align: left;
    width:80px;
    font-weight: bold;
}   

.greenPrice{
    color: #0f0;
}
.redPrice{
    color: #f00;
}
.marketCap{
    width: 10px;

}