.container {
display: flex;
margin: auto;
width: 43vw;
background-color: rgb(36, 36, 36);
justify-content: space-evenly;
color: #fff;
padding: 1.5rem 1rem;
border-radius: 1rem;
}





    /* width: 40vw;
    padding: 1rem 3rem;
    color: #fff;
    border-bottom: 1px solid silver;
    margin-top: .2rem;
    border-radius: 1rem;
    overflow: hidden; */

    .price,.symbol,.name,.change{

        border-right: solid 1px #fff;
        padding-right: 1.5rem;
    }