.maindiv{

    display: flex;
}

.container {
display: flex;
margin: auto;
width: 44vw;
background-color: rgb(36, 36, 36);
justify-content: space-evenly;
color: #fff;
padding: 1.5rem 1rem;
border-radius: 1rem;
margin-top: .2rem;

}







    .container > *{

        border-right: solid 1px #fff;
        padding-right: 1.5rem;
    }

    .mrketCap{
        border: none;
    }
 