.maindiv{

    display: flex;
    position: fixed;
    top:20px;
    right: 27%;
    
}

.container {
display: flex;
margin: auto;
background-color: rgb(36, 36, 36);
justify-content: space-evenly;
color: #fff;
padding: 1.5rem 1rem;
border-radius: 1rem;
margin-top: .2rem;
flex-direction: column;


}

input{

    text-align: left;
    display: flex;
    margin: auto;
    background-color: rgb(36, 36, 36);
    border-bottom: 0.5px #fff solid !important;
    border: none;
    color: #fff;
    font-size: medium;

}
.rows{
    display: flex;
    margin: auto;
    width: 42vw;
    background-color: rgb(36, 36, 36);
    justify-content: space-evenly;
    color: #fff;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    margin-top: .2rem;
    
    }
    
    
    
        .rows > *{
    
            border-right: solid 1px #fff;
            padding-right: 1.5rem;
        }
    
        .mrketCap{
            border: none;
        }
     .mag{
        max-width: 20px;
     }

input:focus{
    border: none;
    outline: none;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    animation: none;
}
input{
    background-image: url(../img/mag.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: 25px;
    animation: blink 1s linear infinite;


}




 @keyframes blink {

    0%{ background-image: url(../img/mag.svg)}
    50%{ background-image: none}
   100%{background-image: url(../img/mag.svg)}
  }