.coinContainer{

    border: 1px solid #000;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem 0;
}

.input{
    width: 200px;
    margin: 3rem 1rem;
    border: 1px solid silver;
    border-radius: .4rem;
    height: 20px;
    padding: .5rem;
    background-color: #f6f6f6;

}
.input:focus{
    outline: none;
    border-color: #fff;
    box-shadow: rgba(74, 74, 74, 0.24) 0 3px 8px;
}